<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <nav class="navbar sticky-top navbar-light navbar-lewagon">
    <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fa-solid fa-clapperboard"></i>
    <% end %>
    <%= link_to new_list_path do %>
    <button type="button" class="btn-ghost">Create a new list
    <i class="fa-solid fa-circle-plus" style="color: #f7e400;"></i>
    </button>
    <% end %>
  </div>
    </nav>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
